tbody th {
	font-style: italic;
	font-weight: normal;
}

.footer td {
	background-color: white;
	border: 1px solid;
}

table {
	border: 1px solid;
}

thead th{
	background-color: white;
}

tr:nth-of-type(2n){
	background-color: chartreuse;
}
tr:nth-of-type(2n+1) {
	background-color: aquamarine;
}

.outer-content {
	margin-top: 20px;
	padding: 1em;
	background-color: pink;
	width: 75%;
}

.inner-content {
	background-color: aquamarine;
	width: 75%;
	text-align: center;
	margin: 0 auto;
}